<div class="row">
  <div class="col-md-3">
    <%= image_tag @book.image_url %>
    <h2>
      <%= @book.title %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>

    <p>
      <strong>Description:</strong>
      <%= @book.description %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @book.year %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Publisher:</strong>
      <%= @book.publisher %>
    </p>

    <p>
      <strong>Pages:</strong>
      <%= @book.pages %>
    </p>
    <%= link_to "Write a Review", new_book_review_path(@book), class: "btn btn-primary" %>
  </div>

    <div class="col-md-9">
    <%  if @reviews.blank? %>
      <h3>Belum ada Review untuk Buku ini!</h3>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>

          <tbody>
            <h2>
              <%= @book.title %>
            </h2
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <h4>
                    <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                  </h4>
                  <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
                </td>
                <td>
                  <div class="star-rating" data-score= <%= review.rating %> ></div>
                  <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                  <% if user_signed_in? %>
                    <% if (review.user == current_user) || (current_user.admin?) %>
                      <%= link_to "Edit", edit_book_review_path(@book, review) %>
                      <%= link_to "Delete", book_review_path(@book, review), method: :delete %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
    </div>
  </div>

<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-link" %> |
<%= link_to 'Back', books_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'http://res.cloudinary.com/taufan/image/upload/v1470365344/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
